

.App-header {
  background-color: lightsalmon;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1{
  background-color: lightsalmon;
  text-align: center;
}

* {
  box-sizing: border-box;
  background-color: lightsteelblue;
}

.gridContainer {
  width: 90%;
  display: grid;
  margin: 20px auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

